$bg-color: rgb(11, 18, 44);
$primary-color: rgb(245, 245, 245);

$primary-pin-color: rgb(0, 0, 0);
$secondary-pin-color: rgb(255, 255, 255);

$primary-content-color: rgb(0, 0, 0);
$secondary-content-color: rgb(255, 255, 255);

$nav-dot-color: rgba(205, 168, 168, 0.5);

$image-bg1-color: rgba(171, 147, 147, 0.45);
$image-bg2-color: rgba(60, 20, 239, 0.45);
$image-bg3-color: rgba(138, 0, 176, 0.45);
$image-bg4-color: rgba(248, 219, 3, 0.45);
$image-bg5-color: rgba(255, 0, 230, 0.45);

$button-color: rgb(47, 52, 49);
$button-onhover-color: rgb(255, 140, 17);